@import 'tailwindcss';

.material-symbols-outlined {
	font-variation-settings:
		'FILL' 0,
		'wght' 250,
		'GRAD' 0,
		'opsz' 24;
}

.laila-light {
	font-family: 'Laila', serif;
	font-weight: 300;
	font-style: normal;
}

.laila-regular {
	font-family: 'Laila', serif;
	font-weight: 400;
	font-style: normal;
}

.laila-medium {
	font-family: 'Laila', serif;
	font-weight: 500;
	font-style: normal;
}

.laila-semibold {
	font-family: 'Laila', serif;
	font-weight: 600;
	font-style: normal;
}

.laila-bold {
	font-family: 'Laila', serif;
	font-weight: 700;
	font-style: normal;
}

.laila-light-italic {
	font-family: 'Laila', serif;
	font-weight: 300;
	font-style: italic;
}

.laila-regular-italic {
	font-family: 'Laila', serif;
	font-weight: 400;
	font-style: italic;
}

.laila-medium-italic {
	font-family: 'Laila', serif;
	font-weight: 500;
	font-style: italic;
}

.hover\:laila-medium:hover {
	font-family: 'Laila', serif;
	font-weight: 500;
}

.icon-large {
	font-size: 28px;
	font-variation-settings:
		'FILL' 0,
		'wght' 400,
		'GRAD' 0,
		'opsz' 40;
	transform: scale(1.5); /* Optional: for even larger appearance */
}
